################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages
/AuditToolBox/bin/Debug
/AuditToolBox/obj/x86/Debug
/.vs
